.post {
    width: 50%;
    background-color: #F39F5A;
    margin: 0 auto;
}

img.thumbnail {
    max-width: 100%;
    min-width: 50%;
}

.post video {
    max-width: 100%;
    min-width: 50%;
}

.footnote img {
    height: 1em;
    width: auto;
}
