.post {
    width: 50%;
    background-color: white;
    color: black;
    margin: 2% auto;
    text-align: center;
    padding: 0.3125rem 0.9375rem;
}

h3 {
    margin: 0.625rem;
}

.content {
    text-align: left;
}

hr {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.time {
    color: rgba(0, 0, 0, 0.6);
}

img.thumbnail, .post video {
    width: 100%;
}

.stats:hover {
    background-color: #cacaca;
    cursor: pointer;
}

.stats img {
    height: 1em;
    width: auto;
}
