.subreddits {
    margin-top: 0.125rem;
}

.subreddits h2 {
    margin-bottom: 3.3125rem;
}

.smallScreen {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .bigScreen {
        display: none;
    }

    .smallScreen {
        display: block;
    }

    .subreddits h2 {
        margin-bottom: 0.1875rem;
    }

    .subreddits {
        position: absolute;
        top: 5.3125rem;
        right: 10%;
    }
}

@media only screen and (max-width: 630px) {
    .subreddits {
        position: static;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2%;
    }

}