.home {
    padding: 0;
    background-color: #1B1A17;
    color: white;
    display: grid;
    grid-template-rows: 4.375rem 1fr;
    grid-template-columns: 3fr 1fr;
    row-gap: 1.25rem;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {   
    .home {
        row-gap: 6.25rem;
    }
}

@media only screen and (max-width: 630px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    } 
}