header {
    background-color: #FC4F00;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 49% 1fr;
    column-gap: 1%;
    padding: 0.625rem;
}

header input {
    justify-self: start;
    width: 17.5rem;
    height: 100%;
    text-align: left;
    padding-left: 1rem;
}

header h1 {
    justify-self: end;
}
